<h2 class="text-center">Admin Dashboard</h2>
  <table class="table">
    <tr><th>User<th>Order Date<th>Trip Name</th><th>Quantity</th><th>Subtotal<th>

      <%= select_tag :status, options_for_select(["all orders", "ordered", "paid", "completed", "cancelled"]), id: "admin-order-status" %>

    </div></th><th></th><th></th><th></th>
  </table>

    <div id="admin-orders"><%= render partial: 'orders', locals: { orders: @orders } %></div>
