/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

 @font-face {
 font-family: Nord;
 src: url("/assets/Nord Regular.otf") format("opentype");
 }

 @font-face {
 font-family: NordMedium;
 src: url("/assets/Nord Medium.otf") format("opentype");
 }

 @font-face {
 font-family: NordLight;
 src: url("/assets/Nord Light.otf") format("opentype");
 }

#site-header {
  background-color: seagreen;
}

#site-title {
  color: white;
  font-family: Nord;
  font-size: 36px;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-left: 50px;
}

.navbar-header {
  display: inline-block;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
  .navbar-header { display: inline-block; }
}

.navbar-center {
  text-align: center;
  left: 7%;
  width: 50%;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (min-width: 0px) and (max-width: 820px) {
  .navbar-center { display: none; }
}

#destination-search {
  width: 280px;
  text-align: center;
}

#destination-submit {
  float: left;
  margin-left: 5px;
}

.navbar-right {
  display: inline-block;
}

.site-login {
  color: white !important;
  font-family: NordMedium;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-right: 50px;
}

.site-login:hover {
  color: black !important;
}
