/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

/*
 =============================================
 FONTS
 =============================================
*/
 @font-face {
 font-family: Nord;
 src: url("/assets/Nord Regular.otf") format("opentype");
 }

 @font-face {
 font-family: NordMedium;
 src: url("/assets/Nord Medium.otf") format("opentype");
 }

 @font-face {
 font-family: NordLight;
 src: url("/assets/Nord Light.otf") format("opentype");
 }

/*
 =============================================
 NAVBAR
 =============================================
*/

.navbar {
  background-color: seagreen;
}

#frog-logo {
  width: 50px;
  height: 50px;
}

#site-title {
  color: white;
  font-family: Nord;
  font-size: 36px;
  letter-spacing: 5px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#site-title:hover {
  color: skyblue;
}

.navbar-right {
  float: right;
}

.navbar-nav li {
  margin-top: 15px;
}

.navbar-header button {
  margin-top: 35px;
}

@media screen and (min-width: 0px) and (max-width: 820px) {
  .navbar-form { display: none; }
}

#destination-search {
  width: 280px;
  text-align: center;
}

#destination-submit {
  float: right;
}

.navbar-right {
  display: inline-block;
}

.navbar-form {
  margin-top: 40px;
}

.site-login {
  color: white !important;
  font-family: serif;
  letter-spacing: 1.4px;
  margin-top: 20px;
  margin-right: 1px;
}

.site-login:hover {
  color: black !important;
}

.nav-seperator {
  color: skyblue !important;
  font-family: serif;
  font-size: 22px;
  margin-top: 46px !important;
}

.site-top {
  height: 100px;
  margin-bottom: 5px;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform:rotate(4deg);
	}
	50% {
		-webkit-transform:rotate(-4deg);
	}
	100% {
		-webkit-transform:rotate(4deg);
	}
}

.wiggle:hover {
	-webkit-animation: wiggle 0.5s infinite;
}

/*
 =============================================
 TRIP CARDS
 =============================================
*/

.trip-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  margin-bottom: 2px;
  border-right: solid 2px white;
}

.trip-card-price {
  position: absolute;
  top: -18px;
  right: 1%;
  color: white;
  text-shadow: 2px 2px seagreen;
}

.trip-card-header {
  color: white;
  text-shadow: 2px 2px seagreen;
  margin-top: 1%;
  margin-left: 1%;
}

.trip-card-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 2%;
}

.trip-card-btn {
  position: absolute;
  bottom: 40px;
  left: 4%;
}

.trip-card-text p {
  color: white;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); z-index: 1; }

/*
 =============================================
 TRIP SHOW PAGE
 =============================================
*/

.show-jumbo {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.container .jumbotron {
  border-radius: 0px;
}

#retired {
  display: inline-block;
  background: orange;
  border: 1px solid #cc8500;
  border-radius: 6px;
  color: white;
  padding: 6px;
}

#show-jumbo-txt {
  color: white;
  text-shadow: 2px 2px seagreen;
}


/*
 =============================================
 CART
 =============================================
*/
.cart {
  font-family: console;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 20px;
}

/*
 =============================================
 CREATE ACCOUNT
 =============================================
*/

#strength {
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.btn-github {
  background-color: #333333;
  color: white;
  margin-bottom: 2%;
}

.btn-github:hover {
  background-color: #1a1a1a;
  color: white;
}
